* {
  font-family: "Futura PT", sans-serif !important;
}

.navbar-text {
  color: white;
  padding: 0;
}

.row {
  padding: 20px;
}

.ski {
  border-top: 1px solid silver;
  margin: 8px;
  padding: 8px;
}

.skiTitle {
  text-transform: uppercase;
  font-size: 20px;
}

.skiAttrWrapper {
}

.skiAttr {
  padding: 4px 8px;
}
